/*Basico*/
:root{
    --color-principal: #D9C162;
    --color-secundario: #7c411e;
    --fuente-primaria: 'Roboto', sans-serif;
    --espacio--secciones:120px 0 35px 0;
}
body{
    margin: 0 auto;
    background-color: #D9C162;
}
header{
    display: flex;
    text-align: center;
    font-size: 20px;
}
.parrafos{
    font-family: var(--fuente-primaria)
}
.titulos{
    font-family: var(--fuente-primaria)
}

/*--------------------Header--------------------*/
.caja1{
    background-color: var(--color-principal);
    width: 20%;
    height: 120px;
}
.caja2{
    background-color: var(--color-principal);
    width: 60%;
    height: 120px;
}
.caja3{
    background-color: var(--color-principal);
    width: 20%;
    height: 120px;
}
.moca{
    width: 220px;
    height: 200px;
    padding-bottom: 50px;
}
.menuprincipal{
    float: left;
    margin-right: 30px;
    margin-top: 6px;
}
.menu{
    list-style-type: none;
    overflow: hidden;
    margin: 5px;
}
.menu > li{
    float: left;
}
.menu > li > a{
    padding: 0 15px 0 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #7c411e;
    font-size: 18px;
    line-height: 100px;
}
.menu > li > a:hover{
    font-weight: 500;
}
.active > a{
    font-weight: 500 !important;
}
/*--------------------Carrusel-Presentacion--------------------*/
.imagenes-carrusel{
    max-width: 1500px;
    max-height: 650px;
}
/*--------------------Mapa--------------------*/
.espacio{
    padding: var(--espacio--secciones);
}
.detalles-mapa{
    padding: 50px 50px 0 50px;

}
/*--------------------Carta-Gatos--------------------*/
.detalles-carta{
    font-size: px;
    font-family: var(--fuente-primaria);
    text-align: center;
    padding: var(--espacio--secciones);
}

.background-card{
    background-color: #D9C162;
}
/*--------------------Footer--------------------*/
.detalles-footer{
    background-color: #7c411e;
    color: white;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}
.parrafos-footer{
    text-align: center;
    font-size: 30px;
}
.imagenes-gatos-card{
    height: 330px;
    width: 412px;

}
