/*Basico*/
:root{
    --color-principal: #D9C162;
    --color-secundario: #7c411e;
    --fuente-primaria: 'Roboto', sans-serif;
    --espacio--secciones:120px 0 20px 0;
    --tamaño-letras: 17px;
}
body{
    margin: 0 auto;
    background-color: #D9C162;
}

/*--------------------Header--------------------*/
header{
    display: flex;
    text-align: center;
    font-size: 20px;
}
.caja1{
    background-color: var(--color-principal);
    width: 20%;
    height: 120px;
}
.caja2{
    background-color: var(--color-principal);
    width: 60%;
    height: 120px;
}
.caja3{
    background-color: var(--color-principal);
    width: 20%;
    height: 120px;
}
.moca{
    width: 220px;
    height: 200px;
    padding-bottom: 50px;
}
.menuprincipal{
    float: left;
    margin-right: 30px;
    margin-top: 6px;
}
.menu{
    list-style-type: none;
    overflow: hidden;
    margin: 5px;
}
.menu > li{
    float: left;
}
.menu > li > a{
    padding: 0 15px 0 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #7c411e;
    font-size: 18px;
    line-height: 100px;
}
.menu > li > a:hover{
    font-weight: 500;
}
.active > a{
    font-weight: 500 !important;
}

/*--------------------Carrusel-Presentacion--------------------*/
.imagenes-carrusel{
    max-width: 1500px;
    max-height: 650px;
}

/*--------------------Mapa--------------------*/
.espacio{
    padding: var(--espacio--secciones);
}
.detalles-mapa{
    padding: 50px 50px 0 50px;
    font-family: var(--fuente-primaria);
    font-size: var(--tamaño-letras);
    text-align: justify;
    line-height: 30px;
}
.detalles-mapa > h2{
    font-size: 28px;
}

/*--------------------Carta-Gatos--------------------*/
.detalles-carta{
    font-family: var(--fuente-primaria);
    text-align: center;
    padding: var(--espacio--secciones);
}
.background-card{
    background-color: #D9C162;
}
.imagenes-gatos-card{
    height: 330px;
    width: 412px;
}

/*--------------------Productos--------------------*/
.imagen-producto{
    max-width: 700px;
    max-height: 700px;
}
.borde-producto{
    padding: 120px 0 200px 280px;
}

/*--------------------Footer--------------------*/
footer{
    background-color: #7c411e;
    color: white;
    text-align: justify;
    padding: 50px 0 50px 0;
    font-family: var(--fuente-primaria);
    font-size: var(--tamaño-letras);
    line-height: 30px;
}
footer > div > div > h2{
    font-size: 28px;
}
.logos{
    max-height: 44px;
    max-width: 44px;
}


